<h1>Registration</h1>
<form novalidate name="formRegistration" ng-submit="submit()" ng-controller="registrationController">
    <label for="name">Name :</label>
    <li><input type="text" id="name" ng-model="name" minlength="3" maxlength="15" placeholder="Entrer un nom" required></li>
    <label for="password">Password :</label>
    <li><input type="password" id="password" ng-model="password"  maxlength="25" placeholder="Entrer un mot de passe" required></li>
    <li><button type="submit" ng-disabled="formRegistration.$invalid">Sign In</li>
</form>
